build/cmake_install.cmake
build/CMakeCache.txt
build/CTestTestfile.cmake
build/Makefile
build/stlrom2
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.16.3/CMakeSystem.cmake
build/CMakeFiles/3.16.3/CompilerIdCXX/a.out
build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/stlrom2.dir/build.make
build/CMakeFiles/stlrom2.dir/cmake_clean.cmake
build/CMakeFiles/stlrom2.dir/CXX.includecache
build/CMakeFiles/stlrom2.dir/depend.internal
build/CMakeFiles/stlrom2.dir/depend.make
build/CMakeFiles/stlrom2.dir/DependInfo.cmake
build/CMakeFiles/stlrom2.dir/flags.make
build/CMakeFiles/stlrom2.dir/link.txt
build/CMakeFiles/stlrom2.dir/progress.make
build/CMakeFiles/stlrom2.dir/src/command.cpp.o
build/CMakeFiles/stlrom2.dir/src/stl_driver.cpp.o
build/CMakeFiles/stlrom2.dir/src/main.cpp.o
build/CMakeFiles/stlrom2.dir/src/parser.cpp.o
build/CMakeFiles/stlrom2.dir/src/scanner.cpp.o
src/stack.hh
src/position.hh
include/parser.hpp
src/parser.cpp
src/location.hh
src/scanner.cpp
build/*
*.out*
src/stlrom/__pycache__/*
uv.lock