*.so
*.o
*.a
obj/
build/
.vscode/
/test/CMakeCache.txt
/test/CMakeFiles/
/test/CTestTestfile.cmake
/test/Makefile
/test/Testing/
/test/cmake_install.cmake
/test/pybind11/
/test/test_driver
/test/test_prog
/test/test_prog.pyc
